@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">¡Bienvenido a la Farmacia!</h1>
    <hr class="my-4">
    <p class="lead">En nuestra farmacia, puedes gestionar tu inventario de productos, clientes y ventas de manera eficiente.</p>
    <p>Explora las diferentes funciones disponibles para administrar tu farmacia.</p>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Gestión de Clientes</h5>
                    <p class="card-text">Administra la información de tus clientes, consulta y actualiza sus datos fácilmente.</p>
                    <a href="@Url.Action("IndexClientes", "Clientes")" class="btn btn-primary">Ir a Gestión de Clientes</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Gestión de Productos</h5>
                    <p class="card-text">Administra el inventario de productos, actualiza precios, añade nuevas incorporaciones y más.</p>
                    <a href="@Url.Action("IndexProductos", "Productos")" class="btn btn-primary">Ir a Realizar Venta</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Realizar Venta</h5>
                    <p class="card-text">Registra nuevas ventas, añade productos al carrito y finaliza la transacción.</p>
                    <a href="@Url.Action("IndexProductos", "Carrito")" class="btn btn-primary">Ir a Realizar Venta</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Reporte de Ventas</h5>
                    <p class="card-text">Consulta informes y análisis detallados sobre las ventas realizadas en tu farmacia.</p>
                    <a href="@Url.Action("IndexVentas", "Ventas")" class="btn btn-primary">Ir a Realizar Venta</a>
                </div>
            </div>
        </div>
    </div>
</div>